# adapted from
# https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
# https://github.com/Overbryd/dotfiles/blob/master/.bash_aliases


# Easier navigation: .., ..., ....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."


# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then
  # GNU `ls`
  colorflag="--color"
else
  # macOS `ls`
  colorflag="-G"
fi
# `ls` colors are defined in .colors

# List all files colorized in long format, including dot files
alias l="ls -ahlF ${colorflag}"

# List only directories
alias lsd="ls -hlF ${colorflag} | grep --color=never '^d'"

# List all, grouping directories first
if [ "$OSTYPE" == linux-gnu ]; then
  # GNU
  alias ldf='ls -ahlF --color --group-directories-first'
else
  # macOS. install `gls` with `brew install coreutils`
  alias ldf='gls -ahlFG --group-directories-first'
fi

# Always use color output for `ls`
alias ls="command ls ${colorflag}"


# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'


# Enable aliases to be sudo’ed
alias sudo='sudo '


# IP addresses
alias remoteip="dig +short myip.opendns.com @resolver1.opendns.com"
if [ "$OSTYPE" == linux-gnu ]; then
  # GNU
  alias localip="echo $(hostname -I)"
else
  # macOS
  alias localip="ipconfig getifaddr en0"
fi
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush DNS
alias flush-dns="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"


# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'


# Directory tree listing (1, 2, 3 levels)
alias t1="tree -L 1 --dirsfirst"
alias t2="tree -L 2 --dirsfirst"
alias t3="tree -L 3 --dirsfirst"


# Development environment helpers
alias fix-node="sudo chown -R `whoami`:`id -g -n` /usr/local/lib/node_modules"
alias fix-sass="npm rebuild node-sass"

alias cls="clear"


# -- macOS-only aliases ----------------

# update everything
alias update="~/dotfiles/scripts/macos-update.sh"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

alias shrug="echo '¯\_(ツ)_/¯' | pbcopy"
