# adapted from
# https://github.com/github/gitignore

# -- OS ------------

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# -- Development ---

# Node modules
node_modules/

# Node/Yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Bower components
bower_components/

# Sass cache
.sass-cache/

# -- Editors -------

# Sublime Text workspace files
*.sublime-workspace

# Visual Studio Code
.vscode/*
